In [1]:
import pandas as pd
import numpy as np
import io

In [8]:
some_string = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''
some_string

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46  '

In [9]:
df = pd.read_csv(io.StringIO(some_string), sep='\s+' )
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [10]:
df['pred'] =   -1.71 + 0.21*np.log(df['capital']) + 0.71*np.log(df['labour'])
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [12]:
df['residual'] = np.log(df['output']) - df['pred']
df. round(2)

   output  capital  labour  pred  residual
0    9.25     2.61     184  2.19      0.03
1    3.66     1.32      91  1.55     -0.25
2   28.78    22.09     426  3.24      0.12
3    4.12    10.74      72  1.82     -0.41
4    2.89     1.16      46  1.04      0.02