In [1]:
import pandas as pd
import numpy as np
import io
import ststsmodels.formula.api as smf

## 1.1.1 Задача

In [2]:
some_string = ''' sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25'''

In [3]:
df = pd.read_csv(io.StringIO(some_string), sep='\s+' )
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [4]:
df['pred'] =  3525.14 + (-0.16)*df['totwrk'] +  1.62*df['age'] + 51.84*df['male'] +  (-9.88)*np.log(df['hrwage'])
df

   sleep  totwrk  age  male  hrwage         pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [5]:
df['residual'] = df['sleep'] - df['pred']
df. round(2)

   sleep  totwrk  age  male  hrwage     pred  residual
0   3113    3438   32     1    7.07  3059.42     53.58
1   2920    5020   31     1    1.43  2820.47     99.53
2   2670    2815   44     1   20.53  3168.00   -498.00
3   3083    3786   30     0    9.62  2945.61    137.39
4   3448    2580   64     1    2.75  3257.87    190.13
5   4063    1205   41     1   19.25  3421.38    641.62

## 1.1.2 Задача

In [6]:
some_string = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''

In [8]:
df = pd.read_csv(io.StringIO(some_string), sep='\s+' )
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [9]:
df['pred'] =   -1.71 + 0.21*np.log(df['capital']) + 0.71*np.log(df['labour'])
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [10]:
df['residual'] = np.log(df['output']) - df['pred']
df. round(2)

   output  capital  labour  pred  residual
0    9.25     2.61     184  2.19      0.03
1    3.66     1.32      91  1.55     -0.25
2   28.78    22.09     426  3.24      0.12
3    4.12    10.74      72  1.82     -0.41
4    2.89     1.16      46  1.04      0.02

## 1.2.1 Задача

In [12]:
TSS = 100.35
ESS = 47.56
RSS = TSS - ESS
RSS

52.78999999999999

In [18]:
R2 = ESS/TSS
round(R2,2)

0.47

## 1.2.2 Задача

In [20]:
TSS =  240.82
RSS = 93.52
ESS = TSS - RSS
ESS

147.3

In [21]:
R2=ESS/TSS
round(R2,2)

0.61

## 2.1 Задача

$$
R^2_{adj} = -1 - (1-R^2)*\frac{(n-1)}{(n-k)}
$$

In [24]:
n=526
k=5
R2=0.288

In [27]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,2)

0.28

## 3.1 Sleep equation

In [28]:
better_check = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [29]:
op = pd.read_csv(io.StringIO(better_check), sep='\s+' )
op

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [30]:
op['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [31]:
op['Факт'].mean()

3316.6666666666665

In [32]:
op['Факт'] - op['Факт'].mean()

0   -203.666667
1   -233.666667
2    746.333333
3   -298.666667
4    313.333333
5   -323.666667
Name: Факт, dtype: float64

In [33]:
TSS = np.sum ((op['Факт'] - op['Факт'].mean())**2)
TSS

945233.3333333334

In [36]:
ESS = np.sum ((op['Fitted'] - op['Факт'].mean())**2)
ESS

288096.9463873332

In [37]:
RSS = TSS - ESS
RSS

657136.3869460002

In [39]:
RSS = np.sum ((op['Fitted'] - op['Факт'])**2)
RSS

467092.85505400004

In [40]:
R2 = ESS/TSS
R2

0.30478923692985843

### SER

$$
SER = \sqrt{RSS}
$$

In [43]:
np.sqrt(RSS)

683.4419178350125